<div>
    <h1>{{title}}</h1>
    <label for="">ID</label>
    <input type="text" ng-model="inputValue.id" disabled>
    <label for="">Tên</label>
    <input type="text" ng-model="inputValue.ten" disabled>
    <label for="">Hãng</label>
    <input type="text" ng-model="inputValue.hang" disabled>
    <label for="">Giá</label>
    <input type="text" ng-model="inputValue.gia"disabled>
    <a href="#!/detail/phone/{{editID}}"></a>
    <button>Sửa</button>
    <a href="#!/list-phone">
    <button>Quay Lại</button>
    </a>    
</div>